body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    margin: 0;
    background-color: rgb(28, 56, 23);
}
#login-form {
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;

}
#login-form input {
    padding: 10px;
    font-size: 16px;
    margin: 10px 0;
}
#login-form button {
    padding: 10px;
    font-size: 16px;
}
#container{
    background: rgb(2,0,36);
background: linear-gradient(0deg, rgba(2,0,36,1) 0%, rgb(49, 49, 151) 35%, rgba(0,212,255,1) 100%);
    max-width: 900px;
    width: 100%;
    border: 1px solid black;
    border-radius: 5px;
    height: 40vw;
    margin: 10px;
}
#container h1{
    text-align: center;
}
.messangerBox{
    border: 1px solid black;
    margin: 20px;
    max-height: 30vw;
    height: inherit;
    padding: 10px;
    overflow-x: hidden;
    overflow-y: auto;
}
#left-message{
    float: left;
    display: block;
    width: 100%;
    padding: 10px;    
    margin: 10px 0;
    text-align: left;
}
#right-message{
    float: right;
    display: block;
    width: 100%;
    margin: 10px 0;
    padding: 10px;    
    text-align: right;
}
#right-message span {
    background-color: white;
    padding: 10px;
}
#left-message span{
    background-color: green;
    padding: 10px;
}
#msgForm{
    background-color: red;
    display: flex;
}
#msgForm input{
    width: 90%;
    padding: 10px;

}
#msgForm button{
    width:10%;
    padding: 10px;
}